<footer class="bg-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-2 col-sm-offset-2"><p><a href="http://www.austrade.gov.au/About-Austrade/Site-information/Linking-policy/LinkingPolicy" target="_blank">Copyright</a></p></div>
      <div class="col-sm-2 col-sm-offset-1"><p><a href="/austrade/site-disclaimer/">Site Disclaimer</a></p></div>
      <div class="col-sm-2 col-sm-offset-1"><p><a href="http://www.austrade.gov.au/Site-information/privacy-policy" target="_blank">Privacy Policy</a></p></div>
    </div>
    <div class="row text-center">
  		<p class="mv15">For further information on land tenure and title across northern Australia, or comments on how this website might be improved, please contact: <a href="mailto:landtenure@austrade.gov.au">landtenure@austrade.gov.au</a></p>
  	</div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70159422-1', 'auto');
  ga('send', 'pageview');
</script>