<footer class="bg-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-2 col-sm-offset-3"><a href="http://www.austrade.gov.au/About-Austrade/Site-information/Linking-policy/LinkingPolicy" target="_blank">Copyright</a></div>
      <div class="col-sm-2"><a href="http://www.austrade.gov.au/Site-information/Site-Disclaimer" target="_blank">Site Disclaimer</a></div>
      <div class="col-sm-2"><a href="http://www.austrade.gov.au/Site-information/privacy-policy" target="_blank">Privacy Policy</a></div>
    </div>
  </div>
</footer>


	

Disclaimer   
Privacy   
Copyright 