<div class="mv15 hidden-md hidden-lg">


{% if page.title == "Freehold land" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Freehold land
    </span>
  </a>

<!--             {% if page.title == "Aboriginal and Torres strait Islander Land" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Aboriginal and Torres strait Islander Land
    </span>
  </a>
{% endif %} -->

{% elsif page.title == "Crown land" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#crownland" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Crown land
    </span>
  </a>


{% elsif page.title == "Pastoral leases" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#pastoralleasent" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Pastoral leases NT
    </span>
  </a>
</div>
<div class="mv15 hidden-md hidden-lg">
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#pastoralleasewa" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Pastoral leases WA
    </span>
  </a>
</div>
<div class="mv15 hidden-md hidden-lg">
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#pastoralleaseqld" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Pastoral leases QLD
    </span>
  </a>

{% elsif page.title == "Reserves" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#reserves" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Reserves
    </span>
  </a>

{% elsif page.title == "Leasehold land" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#leasehold" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Leasehold land
    </span>
  </a>

{% elsif page.title == "Native title in the Northern Territory" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#nativetitlent" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Native title NT
    </span>
  </a>

{% elsif page.title == "Native title in the Queensland" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#nativetitleqld" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Native title Qld
    </span>
  </a>

{% elsif page.title == "Native title in Western Australia" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#nativetitlewa" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Native title WA
    </span>
  </a>


{% elsif page.title == "Mining, minerals and petroleum rights" %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#miningnt" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Mining and mineral leases NT
    </span>
  </a>
</div>
<div class="mv15 hidden-md hidden-lg"> 
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#miningwa" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Mining and mineral leases WA
    </span>
  </a>
</div>
<div class="mv15 hidden-md hidden-lg"> 
  <a href="http://northernaustralia.nationalmap.nicta.com.au/#miningqld" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Mining and mineral leases QLD
    </span>
  </a>
</div>
<div class="mv15 hidden-md hidden-lg">

{% else %}
  <a href="http://northernaustralia.nationalmap.nicta.com.au" target="_blank"  class="btn-external" style="width: 100%;">
    <div class="circle">
    </div>
    <span>
      Explore northern Australia
    </span>
  </a>

{% endif %}

</div>