<nav class="subnav" id="tenure">
	<ul>
		<li class="main"><a href="/engagement-guide">How do I engage with traditional owners?</a></li>
		<li class="land-councils"><a href="/engagement-guide/engaging-with-traditional-owners">Engaging with traditional owners</a></li>
		<li class="northern-territory"><a href="/engagement-guide/northern-territory-information-on-engaging-with-traditional-owners-and-land-councils">Northern Territory - information on engaging with traditional owners and land councils</a></li>
		<li class="queensland"><a href="/engagement-guide/queensland-information-on-engaging-with-traditional-owners">Queensland - information on engaging with traditional owners</a></li>
		<li class="western-australia"><a href="/engagement-guide/western-australia-information-on-engaging-with-traditional-owners">Western Australia - information on engaging with traditional owners</a></li>
		<li class="key-terms"><a href="/engagement-guide/some-useful-definitions-and-key-terms">Some useful definitions and key terms</a></li>
	</ul>
</nav>