<nav class="subnav" id="tenure">
	<ul>
		<li class="main"><a href="/land-tenure/">About land tenure</a></li>
		<li class="freehold-land"><a href="/land-tenure/freehold-land">Freehold</a></li>
		<li class="aboriginal-and-torres-strait-islander-land"><a href="/land-tenure/aboriginal-and-torres-strait-islander-land">Aboriginal and Torres strait Islander land</a></li>
		<li class="leasehold-land"><a href="/land-tenure/leasehold-land">Leasehold</a></li>
		<li class="mining-and-mineral-exploration-leases"><a href="/land-tenure/mining-and-mineral-exploration-leases">Mining, minerals and petroleum rights</a></li>
		<li class="crown-land"><a href="/land-tenure/crown-land">Crown land</a></li>
		<li class="pastoral-leases"><a href="/land-tenure/pastoral-leases">Pastoral leases</a></li>
		<li class="reserves"><a href="/land-tenure/reserves">Reserves</a></li>
	</ul>
</nav>