<nav class="subnav" id="tenure">
	<ul>
 		<li class="main"><a href="/native-title">Native title</a></li>
 		<li class="future-acts"><a href="/native-title/future-acts">Future Acts and Indigenous Land Use Agreements</a></li>
		<li class="tribunal"><a href="/native-title/role-of-the-national-native-title-tribunal">Role of the National Native Title Tribunal</a></li>
		<li class="nt"><a href="/native-title/native-title-in-the-northern-territory">Native Title in the Northern Territory</a></li>
		<li class="sacred-sites"><a href="/native-title/sacred-sites">Sacred sites</a></li>
	</ul>
</nav>