<nav class="subnav" id="tenure">
	<ul>
 		<li class="main"><a href="/native-title">Native title</a></li>
 		<li class="indigenous-land-use-agreements"><a href="/native-title/indigenous-land-use-agreements">Indigenous Land Use Agreements</a></li>
		<li class="tribunal"><a href="/native-title/role-of-the-national-native-title-tribunal">Role of the National Native Title Tribunal</a></li>
		<li class="nt"><a href="/native-title/native-title-in-the-northern-territory">Native title in the Northern Territory</a></li>
		<li class="qld"><a href="/native-title/native-title-in-queensland">Native title in Queensland</a></li>
		<li class="wa"><a href="/native-title/native-title-in-western-australia">Native title in Western Australia</a></li>
		<li class="sacred-and-heritage-sites"><a href="/native-title/sacred-and-heritage-sites">Sacred and heritage sites</a></li>
	</ul>
</nav>