<ul>
  <li class="clr-home current">
    <a href="/">
      <div class="circle">icon</div>
      <span>Home</span>
    </a>
  </li>
  <li class="clr-tenure">
    <a href="/land-tenure">
      <div class="circle">icon</div>
      <span>Land tenure</span>
    </a>
  </li>
  <li class="clr-title">
    <a href="/native-title">
      <div class="circle">icon</div>
      <span>Native title</span>
    </a>
  </li>
  <li class="clr-engage">
    <a href="/engage-with-title-owners">
      <div class="circle">icon</div>
      <span>How do I engage with title owners?</span>
    </a>
  </li>
  <li class="clr-contact">
    <a href="/key-contacts">
      <div class="circle">icon</div>
      <span>Key contacts</span>
    </a>
  </li>
</ul>