@import "reset";
@import "syntax";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";



/* font imports */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot);
  src: url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg);
  src: url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf);
  src: url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff);
  src: url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2);
}

@import "../bower_components/font-awesome/scss/font-awesome.scss";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600);



/* variables */

$body-font: 'Source Sans Pro', sans-serif;
  
$navheight: 150px;

$grey: rgb(61,57,53);



/* main/generics */

body {
	font-family: $body-font;
	font-weight: 400;
	text-align: left;
	position: relative;
	background: rgb(215,210,203);
}

h1,h2,h3,h4,h5,h6{
	font-family: $body-font;
	font-weight: 700;
} 

h3,h4,h5,h6{
	font-weight: 600;
}

nav a{
	font-weight: 600;
}

h1:first-child {
	margin: 0 0 .4em;
}
h2:first-child {
	margin: 0 0 .4em;
}

p{
	margin: .4em 0 .8em;
}

ul,ol{
	margin: .4em 0 .8em 20px;
}

a{
	color: #236a8d;
	text-decoration: underline;
}

a.anchor{
	float: right;
	height: 0;
}

nav a{
	text-decoration: none;
}

a:hover{
	color: rgb(88,45,64);
	text-decoration: none;
}

a:visited{
	color: $grey;
}

a.btn{
	transition: all ease .3s;
	text-decoration: none;
	color: $grey;
}

a.btn:hover,
a.btn-default:hover,
a.btn-primary:hover{
	color: #FFF !important;
	background: $grey !important;
}

header{
	background: #FFF;
	width: 100%;
	height: $navheight;
	display: block;

	img{
		@media (max-width: $screen-xs-min) {
	    margin: 0 auto;
	  }
		display: block;
		max-height: 80px;
		margin: 35px 15px;
	}
}

#bg-image{
	display: block;
	width: 100%;
	height: 430px;
	background-color: rgba(61,57,53,0.5);
	position: absolute;
	top: $navheight;
	background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  background-image: url(/assets/background/home.jpg);
  z-index: -1;
  @media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-home.jpg);
  }
}



.future-acts #bg-image{
	background-image: url(/assets/background/future-acts.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-future-acts.jpg);
  }
}
.land-tenure #bg-image{
	background-image: url(/assets/background/land-tenure.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-land-tenure.jpg);
  }
}
.reserves #bg-image{
	background-image: url(/assets/background/reserves.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-reserves.jpg);
  }
}

.tenure.main #bg-image{
	background-image: url(/assets/background/land-tenure.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-land-tenure.jpg);
  }
}
.ntitle.main #bg-image{
	background-image: url(/assets/background/native-title.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-native-title.jpg);
  }
}
.sacred-sites #bg-image{
	background-image: url(/assets/background/sacred-sites.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-sacred-sites.jpg);
  }
}
.freehold-land #bg-image{
	background-image: url(/assets/background/freehold.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-freehold.jpg);
  }
}
.aboriginal-freehold-land #bg-image{
	background-image: url(/assets/background/aboriginal-freehold.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-aboriginal-freehold.jpg);
  }
}
.leasehold-land #bg-image{
	background-image: url(/assets/background/leasehold.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-leasehold.jpg);
  }
}
.crown-land #bg-image{
	background-image: url(/assets/background/crown-land.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-crown-land.jpg);
  }
}
.pastoral-leases #bg-image{
	background-image: url(/assets/background/pastoral.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-pastoral.jpg);
  }
}
.engage #bg-image{
	background-image: url(/assets/background/engage.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-engage.jpg);
  }
}
.land-councils #bg-image{
	background-image: url(/assets/background/engagement.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-engagement.jpg);
  }
}
.northern-territory #bg-image{
	background-image: url(/assets/background/engage-nt.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-engage-nt.jpg);
  }
}
.key-terms #bg-image{
	background-image: url(/assets/background/definitions.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-definitions.jpg);
  }
}
.tribunal #bg-image{
	background-image: url(/assets/background/role.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-role.jpg);
  }
}
.nt #bg-image{
	background-image: url(/assets/background/role-nt.jpg);
	@media (min-width: $screen-lg-min) {
	  background-image: url(/assets/background/wide-role-nt.jpg);
  }
}

#bg-image{
	@media (max-width: $screen-xs-min) {
	  background: none !important;
	}
}




.container {
	@media (max-width: $screen-lg-min) {
    width: 100% !important;
	}
}


img{
	max-width: 100%;
}

strong{
	font-family: $body-font;
	font-weight: 700;
}

#central-content{
	padding: 15px 30px;
}

.bg-grey{
	background: $grey;
	color: #FFF;
}

.bg-wheat{
	background: rgb(223,209,167);
	background: #ece5d2;
}

.bg-snow{
	background: rgb(217,225,226)
}

.bg-white{
	background: rgb(255,255,255)
}

.m15{
	margin: 15px;
}
.p15{
	padding: 15px;
}
.p30{
	padding: 30px;
}
.p1530{
	padding: 15px 30px;
}
.mv15{
	margin: 15px 0;
}
.m0{
	margin: 0 !important;
}

.first{
	margin-top: 0;
}

.btn-primary{
	background: rgb(245,132,0);
	color: #000;
}

.btn{
	border: none;
	border-radius: 0;
	padding: 10px 25px;
}



/* NAV COLOURS */

.clr-home,
.clr-home a{
	background: rgb(255,171,0);
	color: #000;
}
.main-nav .clr-home a .circle{
	background: rgba(255,255,255,0.5) url(/assets/images/icon-home.svg) no-repeat;
	background-size: cover;
}

.clr-tenure,
.clr-tenure a,
.tenure nav.subnav a,
.tenure .subnav-toggle{
	background: rgb(227,82,5);
}
.main-nav .clr-tenure a .circle{
	background: rgba(255,255,255,0.5) url(/assets/images/icon-tenure.svg) no-repeat;
	background-size: cover;
}

.clr-title,
.clr-title a,
.ntitle nav.subnav a,
.ntitle .subnav-toggle{
	background: rgb(88,45,64);
}
.main-nav .clr-title a .circle{
	background: rgba(255,255,255,0.5) url(/assets/images/icon-title.svg) no-repeat;
	background-size: cover;
}

.clr-engage,
.clr-engage a,
.engage nav.subnav a,
.engage .subnav-toggle{
	background: rgb(65,116,141);
}
.main-nav .clr-engage a .circle{
	background: rgba(255,255,255,0.5) url(/assets/images/icon-engage.svg) no-repeat;
	background-size: cover;
}

.clr-contact,
.clr-contact a,
.contact nav.subnav a,
.contact .subnav-toggle{
	background: rgb(100,124,125);
}
.main-nav .clr-contact a .circle{
	background: rgba(255,255,255,0.5) url(/assets/images/icon-contact.svg) no-repeat;
	background-size: cover;
}

.tenure nav.main-nav .clr-tenure a,
.ntitle nav.main-nav .clr-title a,
.engage nav.main-nav .clr-engage a,
.contact nav.main-nav .clr-contact a
{
	height: 150px;

	.circle{
		background-color: #FFF !important;
	}
	span{
		margin-top: 5px;
	}
}



/* MAIN NAV */

nav.main-nav{
	font-size: 17px;
	font-weight: 600;
	color: #FFF;
	display: block; 
	margin: 0 -15px;

	ul, li{
		margin: 0;
		padding: 0;
		display: block;
		height: $navheight;
	}

	li{
		display: block;
		vertical-align: top;
		width: $navheight;
		height: $navheight;
		float: left;
		position: relative;

		a{
			display: block;
			width: $navheight;
			height: $navheight;
			color: #FFF;
			text-align: center;
			position: absolute;
			transition: all ease .3s;

			.circle{
				display: block;
				width: 70px;
				height: 70px;
				background: rgba(255,255,255,0.5);
				border-radius: 50%;
				margin: 10px auto;
				transition: all ease .3s;
			}
			span{
				display: block;
				padding: 3px 10px;
				transition: all ease .3s;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 60px;
			}
		}
		a:visited{
			color: #FFF;
		}
		a:hover{
			height: 150px;
			text-decoration: none;
			background: #FFF;
			color: #000;
			
			.circle{
				display: block;
				width: 80px;
				height: 80px;
				background-color: rgba(255,255,255,1);
				border-radius: 50%;
				margin: 10px auto;
			}

			span{
				margin-top: 10px;
				color: $grey;
			}
		}
	}
	li.current a span,
	li.current a:visited span{
		color: $grey !important;
	}
}




/* HAMBURGER specific */

#hamburger{
	position: absolute;
	top: 10px;
	right: 10px;
}

#hamburger-container{
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background: rgb(217,225,226);
	z-index: 100;
	overflow: hidden;
	transition: width ease .5s;
}

#hamburger-menu{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(217,225,226);
	z-index: 100;
}

#hamburger-container.active{
	width: 100%;
}

.home nav.navburger .clr-home a,
.tenure nav.navburger .clr-tenure a,
.ntitle nav.navburger .clr-title a,
.engage nav.navburger .clr-engage a,
.contact nav.navburger .clr-contact a
{
	border-left: 10px solid #FFF !important;
	.circle{
	}
	span{
		margin-left: 100px;
		margin-top: 40px;
	}
}



/* HAMBURGER */

nav.navburger{
	ul, li{
		margin: 0;
		padding: 0;
		display: block;
		height: 100px !important;
		width: 100%;
	}
	ul{
		margin: 0 15px;
	}
	li{
		display: block;
		vertical-align: top;
		width: 100%;
		height: 100px !important;
		position: relative;

		a{
			display: block;
			width: 100%;
			color: #FFF;
			text-align: left;
			position: absolute;
			height: 100px !important;

			.circle{
				display: block;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				margin: 10px;
				float: left;
				text-align: center;
				transition: all ease .3s;
			}
			span{
				display: block;
				padding: 0 10px;
				margin-left: 100px;
				margin-top: 40px;
				vertical-align: middle;
			}
		}
		a:hover{
			span{
				margin-left: 110px;
				margin-top: 40px;
			}
			.circle{
				margin: 0 10px;
			}
		}
	}
	li.current a{
		color: #000;
	}
}



/* SUBNAV */

nav.subnav{
	font-family: $body-font;
	font-weight: 600;
	font-size: 16px;
	@media (max-width: $screen-sm-min) {
    height: 0px;
    overflow: hidden;
    position: relative;
    transition: all ease .5s;
  }
	ul, li{
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		width: 100%;
	}
	li{
		margin-bottom: 2px;
	}
	a{
		color: #FFF;
		display: block;
		padding: 5px 25px 5px 10px;
		position: relative;
		transition: all ease .3s;
	}
	a:after{
		content:"\e080";
	  font-family:"Glyphicons Halflings";
	  position: absolute;
	  top: 5px;
	  right: 5px;
	}
	a:hover{
		margin-left: 10px;
		margin-right: -10px;
		text-decoration: none;
	}
}

nav.subnav.toggled{
	height: auto !important;
}

.subnav-toggle{
	font-family: $body-font;
	font-weight: 600;
	font-size: 16px;
	color: #FFF;
	display: block;
	padding: 5px 10px;
	position: relative;
	margin-bottom: 2px;
}

.subnav-toggle:after{
	content:"\e252";
  font-family:"Glyphicons Halflings";
  position: absolute;
  line-height: 20px;
  font-size: 18px;
  right: 0;
  top: 5px;
  margin: -50% 5px;
  height: 100%;
}



/* SUBNAV - stickies */

.main nav.subnav .main a,

.future-acts nav.subnav .future-acts a,
.reserves nav.subnav .reserves a,
.sacred-sites nav.subnav .sacred-sites a,

.freehold-land nav.subnav .freehold-land a,
.aboriginal-freehold-land nav.subnav .aboriginal-freehold-land a,
.leasehold-land nav.subnav .leasehold-land a,
.crown-land nav.subnav .crown-land a,
.pastoral-leases nav.subnav .pastoral-leases a,

.land-councils nav.subnav .land-councils a,
.northern-territory nav.subnav .northern-territory a,
.nt nav.subnav .nt a,
.tribunal nav.subnav .tribunal a,
.key-terms nav.subnav .key-terms a

{
	margin-left: 10px;
	margin-right: -10px;
	background: $grey;
	@media (max-width: $screen-sm-min) {
    margin: 0;
  }
}

.main nav.subnav .main a:after,

.future-acts nav.subnav .future-acts a:after,
.reserves nav.subnav .reserves a:after,
.sacred-sites nav.subnav .sacred-sites a:after,

.freehold-land nav.subnav .freehold-land a:after,
.aboriginal-freehold-land nav.subnav .aboriginal-freehold-land a:after,
.leasehold-land nav.subnav .leasehold-land a:after,
.crown-land nav.subnav .crown-land a:after,
.pastoral-leases nav.subnav .pastoral-leases a:after,
.reserves nav.subnav .reserves a:after,

.land-councils nav.subnav .land-councils a:after,
.northern-territory nav.subnav .northern-territory a:after,
.key-terms nav.subnav .key-terms a:after,

.future-acts nav.subnav .future-acts a:after,
.tribunal nav.subnav .tribunal a:after,
.nt nav.subnav .nt a:after,
.sacred-sites nav.subnav .sacred-sites a:after{
	/* nothing here anymore but if we need to... */
}



/* FOOTER */

footer{
	padding: 30px 0 80px;
	a{
		color: #FFF;
	}
	a:visited{
		color: #FFF;
	}
}

/* internal styles */


