<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.key-words }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/assets/scripts/hamburger.js"></script>

    </head>
    <body class="{{ page.class }}">

      <header>
        <div class="container" id="logo-lockup">
          <nav class="main-nav hidden-sm hidden-xs pull-right">
            {% include nav.html %}
          </nav>
          <a href="/"><img src="/assets/images/austrade-logo-plain.png" alt="Austrade"></a>
        </div>
      </header>

      <div id="bg-image">
      </div>
      
      <div class="bg-grey w100">
        <div class="container p1530">
          <h1 class="m0">{{ page.section-title }}</h1>
        </div>
      </div>
<!--       <div class="bg-white w100">
        <div class="container p1530">
          breadcrumbs
        </div>
      </div> -->

      <div id="central-content" class="container">
        <div class="row">
          <div class="col-sm-3 mv15">
            <div class="subnav-toggle hidden-sm hidden-md hidden-lg">
              {{ page.title }}
            </div>
            {% if page.section == "tenure" %}
            {% include nav-tenure.html %}
            {% elsif page.section == "ntitle" %}
            {% include nav-title.html %}
            {% elsif page.section == "engage" %}
            {% include nav-engage.html %}
            {% elsif page.section == "contact" %}
            {% include nav-contact.html %}
            {% endif %}

            {% if page.section != "tenure" %}
            <div class="mv15 hidden-sm hidden-xs btn-side">
              <a href="http://northernaustralia.nationalmap.nicta.com.au" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Explore northern Australia
                </span>
              </a>
            </div>
            {% endif %}

            {% if page.title == "Freehold land" %}
            <div class="mv15 hidden-sm hidden-xs btn-side ">
              <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Freehold land
                </span>
              </a>
            </div>
            {% endif %}

            {% if page.title == "Aboriginal and Torres strait Islander Land" %}
            <div class="mv15 hidden-sm hidden-xs btn-side ">
              <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Aboriginal and Torres strait Islander Land
                </span>
              </a>
            </div>
            {% endif %}

            {% if page.title == "Crown land" %}
            <div class="mv15 hidden-sm hidden-xs btn-side ">
              <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Crown land
                </span>
              </a>
            </div>
            {% endif %}

            {% if page.title == "Pastoral leases" %}
            <div class="mv15 hidden-sm hidden-xs btn-side ">
              <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Pastoral leases
                </span>
              </a>
            </div>
            {% endif %}

            {% if page.title == "Reserves" %}
            <div class="mv15 hidden-sm hidden-xs btn-side ">
              <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Reserves
                </span>
              </a>
            </div>
            {% endif %}

            {% if page.title == "Leasehold land" %}
            <div class="mv15 hidden-sm hidden-xs btn-side ">
              <a href="http://northernaustralia.nationalmap.nicta.com.au/#freehold" target="_blank"  class="btn-external">
                <div class="circle">
                </div>
                <span>
                  Leasehold land
                </span>
              </a>
            </div>
            {% endif %}

          </div>
          <div class="col-sm-9">
            {{ content }}
            <div class="btn-top text-center"><a href='#top' class="">Scroll to top</a></div>
            <div class="mv15 hidden-md hidden-lg">
              <a href="http://northernaustralia.nationalmap.nicta.com.au" target="_blank" class="btn-external" style="width: 100%;">
                <div class="circle">
                </div>
                <span>
                  Explore northern Australia
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="hamburger" class="hidden-md hidden-lg">
        <div id="hamburger-toggle">
          <i class="glyphicon glyphicon-align-justify"></i>
          Menu
        </div>
        <div id="hamburger-container">
          <div class="hamburger-close"><i class="glyphicon glyphicon-remove-sign"></i> close menu</div>
          <nav class="main-nav navburger">
            {% include nav.html %}
          </nav>
        </div>
      </div>

      {% include footer.html %}

    </body>
</html>
