<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/assets/scripts/hamburger.js"></script>

    </head>
    <body class="{{ page.class }}">

      <header>
        <div class="container">
          <img src="/assets/images/2015-austrade-logo-v2.png" alt="">
        </div>
      </header>

      <div id="central-content" class="container">
        
        <div class="row">
          <div class="col-sm-7 bg-grey p15 m15">
            <h1 class="first">Land tenure and native title in northern Australia</h1>
            <h3>A guide for foreign investors</h3>
          </div>
        </div>

        <div class="row hidden-sm hidden-xs">
          <div class="col-sm-12">
            <nav id="nav" class="p15">
              {% include nav.html %}
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="bg-wheat p15 mv15">
              <h2 class="first">What is land tenure?</h2>
              <p>blah blah</p>
              <div class="btn btn-primary">Guide to land tenure</div>
            </div>
            <div class="bg-snow p15 mv15">
              <h2 class="first">What is native title?</h2>
              <p>blah blah</p>
              <div class="btn btn-primary">Guide to native title</div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="bg-white p15 mv15">
              <h2 class="first">Find types of land tenure and title in northern Australia</h2>
              <p>blah blah</p>
              <div class="btn btn-primary">Find land types</div>
            </div>
          </div>
        </div>

      </div>

      <div id="hamburger" class="hidden-md hidden-lg">
        <i class="glyphicon glyphicon-align-justify" id="hamburger-toggle"></i>
        <div id="hamburger-container">
          <nav id="navburger">
            {% include nav.html %}
          </nav>
        </div>
      </div>

      {% include footer.html %}
      
    </body>
</html>
