<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/assets/scripts/hamburger.js"></script>

    </head>
    <body class="{{ page.class }}">

      <header>
        <div class="container">
          <img src="/assets/images/2015-austrade-logo-v2.png" alt="">
        </div>
      </header>

      <div id="bg-image">
      </div>

      <div id="central-content" class="container">
        
        <div class="row">
          <div class="col-sm-5 bg-grey p30 m15">
            <h1 class="first">Land tenure and native title in northern Australia</h1>
          </div>
        </div>

        <div class="row hidden-sm hidden-xs">
          <div class="col-sm-12">
            <nav class="main-nav p15">
              {% include nav.html %}
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="bg-wheat p30 mv15">
              <h2 class="first">What is land tenure?</h2>
              <p>Land in northern Australia is held and occupied under many different land tenure types.</p>
              <p>Discover how land is held, what each tenure type means and examples of commercial activities conducted on different land tenures within northern Australia. </p>
              <div class="btn btn-primary">Guide to land tenure</div>
            </div>
            <div class="bg-snow p30 mv15">
              <h2 class="first">What is native title?</h2>
              <p>Native Title can exist over certain land tenures and can impact the use of land. Many traditional owners have expressed a desire to be involved in and benefit from development on their land.</p>
              <p>Find out more about Native Title, how it applies to land within northern Australia and how to engage with Traditional Owners.</p>
              <div class="btn btn-primary">Guide to native title</div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="bg-white p30 mv15">
              <h2 class="first">Interested in investing in northern Australia?</h2>
              <p>Use the interactive map to find land for:</p>
              <ul>
                <li>Agriculture</li> 
                <li>Mining</li>
                <li>Infrastructure</li>
                <li>Horticulture</li>
                <li>Tourism</li>
              </ul>
              <div class="btn btn-primary">Find land types</div>
            </div>
          </div>
        </div>

      </div>

      <div id="hamburger" class="hidden-md hidden-lg">
        <i class="glyphicon glyphicon-align-justify" id="hamburger-toggle"></i>
        <div id="hamburger-container">
          <nav class="main-nav navburger">
            {% include nav.html %}
          </nav>
        </div>
      </div>

      {% include footer.html %}
      
    </body>
</html>
